*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none !important;
}

.overflow {
  overflow: hidden !important;
}

body,
html {
  scroll-behavior: smooth;
  width: 100%;
  background-color: white;
  font-family: TanseekMedium;
  font-size: 17px;
  color: black;
  overflow-x:hidden;
  //line-height: 1.1;

  @media (max-width: 1500px) {
    font-size: 16px;
  }
}

@font-face {
  font-family: "TanseekLight";
  src: url("../fonts/TanseekModernProArabic-Light.woff2") format("woff2"),
    url("../fonts/TanseekModernProArabic-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TanseekMedium";
  src: url("../fonts/TanseekModernProArabic-Medium.woff2") format("woff2"),
    url("../fonts/TanseekModernProArabic-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

h1{
  font-family: TanseekLight;
  font-size: 48px;
  margin: 0;
}
h2{
  font-family: TanseekMedium;
  font-size: 60px;
  margin: 0;
}
h3{
  font-family: TanseekMedium;
  font-size: 48px;
  margin: 0;
}
h4 {
  font-family: TanseekMedium;
  font-size: 40px;
  margin: 0;
}
h5{
  font-family: TanseekMedium;
  font-size: 30px;
  margin: 0;
}

p{
  margin:0;
}

a {
  color: black;

  &:hover {
    color: rgb(26, 26, 26);
    text-decoration: none;
    transition: all 0.5s;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
.container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;

  @media (min-width: 1200px) {
    width: 1600px;
  }
}

.c2{
  width: 1170px;
  max-width:100%;
  margin-right:auto;
  margin-left:auto;                                                                                                                                                                                                                                                                                                               
}

.row {
  margin: 0;

  & > div {
    padding: 0;
  }
}
